{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-clean-order/error",
    "stylelint-prettier"
  ],
  "rules": {
    "declaration-no-important": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-class-pattern": null
  },
  "reportDescriptionlessDisables": true,
  "reportInvalidScopeDisables": true,
  "reportNeedlessDisables": true
}
