.container {
    overflow: auto hidden;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    height: 7rem;
    padding: 0 var(--space-2xl);

    border-bottom: 0.1rem solid var(--color-bg-border);
}

.item {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 100%;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}
