.testContainer {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-default);
  box-shadow: 0 2px 8px 6px rgb(34 60 80 / 3%);
}

.wrapper {
  background-color: #f8f9fa;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 2rem 0;
}


@media (width <= 740px) {
  .wrapper {
    height: 100%;
  }

  .testWrapper > div {
    padding: 0;
  }
}