.container {
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem 0;

    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.title {
    margin-top: 2.5rem;
}

.problemsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5rem 0 2.5rem;
}

.problemsWrapper > * {
    width: calc(50% - 2.5rem);
}

.problem {
    display: flex;
    gap: 2rem;
    align-items: flex-start;

    max-width: 100rem;

    text-align: justify;

    & span {
        flex-shrink: 0;

        box-sizing: content-box;
        width: 3rem;
        padding: 1rem;

        background: #0056B31A;
        border-radius: 100%;
    }
}

.problem:not(:last-child) {
    margin-bottom: 5rem;
}

@media screen and (width <= 900px) {
    .problemsWrapper > * {
        width: 100%;
    }

    .problem:not(:last-child) {
        margin-bottom: 0;
    }
}