.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    background-color: white;
}

.icon {
        flex-shrink: 0;

        box-sizing: content-box;
        width: 3rem;
        height: 3rem;
        padding: 1rem;

        background: #0056B31A;
        border-radius: 100%;
}

.cool{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.problemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-between;

    width: 100%;
    margin: 2rem 0;
}

.problem {
    display: flex;
    flex: 1 1 auto;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.problemTitle {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.problemText {
    & > *:first-child {
        margin-top: 1rem;
    }
}

.categories {
    margin-top: 1rem;
    text-align: center;
}

.categories > li:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media (width <= 915px) {
    .problemsContainer{
        flex-flow: column nowrap;
        gap: 4rem;
    }

    .problem {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .problemText {
        margin-top: 1rem;
    }
}